@import url(reset.css);
header{
	background-image: url('https://github.com/Wokkta/Sites_Pf/tree/main/Сафари/IMG/header.jpg');
	width: 1920px;
	height: 940px;
	background-color: black;
}
.container{
	width: 1920px;
	height: 940px;
}
